<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biomill</title>
    <link rel="icon" type="image" href="../img/favibiomill.png"/>
    <!--Mi css-->
    <link rel="stylesheet" href="../assets/css/style.css">

    <!--bootstrap css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!--tipografías-->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">

    <!--Anim AOS-->

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg p-2 mb-5 ">
            <a class="navbar-brand" href="../index.html"> <img src="../img/logoxs.png" alt="Logo Biomill"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                  <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="./nosotros.html">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./trabajo.html">Trabajos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./contacto.html">Contacto</a>
                </li>               
              </ul>              
            </div>
          </nav>

    </header>

    <section class="bannerUs">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <h2 class="text-center tittleNos">Nosotros</h2>
                </div>
            </div> 
        </div>

        
        
    </section>

    <section class="eqnosotros">

        <div class="container">
            
            <div class="row">
                <div class="col-12">
                    <h2 class="ml14 text-center">
                        <span class="text-wrapper tittleSec02">
                          <span class="letters">Nuestro <span class="idstrong">equipo</span></span>
                          <span class="line"></span>
                        </span>
                      </h2>
                </div>
            </div>
            <div  data-aos="fade-up" data-aos-duration="2000">
            <div class="row">
                <div class="col-xs-12 col-lg-3 col-xl-3">
                    <div class="card text-center" style="width: 17rem;">
                        <img class="card-img-top" src="../img/us01.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Santiago <br>García Belmonte</h5>
                          <p class="card-text">Accionista de Biomill <br>
                            Ex CEO Biosidus <br>
                            Presidente Biosidus <br>
                            Accionista Biosidus</p>
                          
                        </div>
                      </div>
                </div>

                <div class="col-xs-12 col-lg-3 col-xl-3">
                    <div class="card text-center" style="width: 17rem;">
                        <img class="card-img-top" src="../img/us02.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Gustavo <br>Mahler</h5>
                          <p class="card-text">Accionista Biomill <br>
                            Director Biomill <br>
                            Director Biosidus <br>
                            Ex CEO AGC Biologics</p>
                          
                        </div>
                      </div>
                </div>

                <div class="col-xs-12 col-lg-3 col-xl-3">
                    <div class="card text-center" style="width: 17rem;">
                        <img class="card-img-top" src="../img/us03.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Elvio  <br>Valdéz</h5>
                          <p class="card-text">CEO Biomill <br>
                            20 años experiencia en industria farmacéutica 
                            </p>
                        
                        </div>
                      </div>
                </div>

                <div class="col-xs-12 col-lg-3 col-xl-3">
                    <div class="card text-center" style="width: 17rem;">
                        <img class="card-img-top" src="../img/us04.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Claudio <br>Santos</h5>
                          <p class="card-text">20 años de experiencia en industria farmacéutica y biotecnologia animal 
                          </p>
                          
                        </div>
                      </div>
                </div>
            </div>            
            </div>
        </div>     

    </section>
    <div class="custom-shape-divider-top-1621543539">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
        </svg>
    </div>


    <section class="histnos">

        <div class="container">
            <div class="row">
                <div class="col-12">                
                    <h2 class="ml14b text-center">
                        <span class="text-wrapperb tittleSec02">
                          <span class="lettersb">Nuestra <span class="idstrongb">historia</span></span>
                          <span class="lineb"></span>
                        </span>
                      </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-0 col-lg-2 col-xl-2"></div>
                <div class="col-xs-12 col-lg-8 col-xl-8">

                     <!-- Timeline -->
                <ul class="timeline">
                    
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0">1983</h2>
                        <p class="text-small mt-2 font-weight-light">Biosidus comienza el desarrollo, producción y comercialización de proteínas recombinantes para uso humano.</p>
                    </li>
                   
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0">1990</h2>
                        <p class="text-small mt-2 font-weight-light">Biosidus expande sus operaciones y portafolio, llegando a más de 40 países en el mundo.
                        </p>
                        
                    </li>
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0">2020</h2>
                        <p class="text-small mt-2 font-weight-light">Desarrolla la tecnología de animales transgénicos:
                            <ul class="listTecno">
                                <li>Hormona de crecimiento humana recombinante </li>
                                <li>Nanoanticuerpos neutralizantes contra el rotavirus </li>
                            </ul>                           
                            </p>
                    </li>
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0">2018</h2>
                        <p class="text-small mt-2">Private Equity Acon adquiere el control de Biosidus, focalizándose en el desarrollo y crecimiento de fármacos biosimilares.</p>
                        
                    </li>
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0">2019</h2>
                        <p class="text-small mt-2 font-weight-light">BIOMILL adquiere la tecnología, patentes, equipamiento y marcas, de animales transgénicos. 
                        </p>
                        
                    </li>
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                        <h2 class="h5 mb-0">2020</h2>
                        <p class="text-small mt-2 font-weight-light">Nueva visión y relanzamiento del proyecto.
                        </p>
                        
                    </li>
                </ul><!-- End -->

                </div>
            </div>
        </div>
    </section>

  

    <footer>


    </footer>


    <!--Scripts-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    
 



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

    
    <!--AOS-->
 
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
 
    <script>
        AOS.init();
    </script>


<script src="../assets/js/script.js"></script>
</body>
</html>